<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 외부 저장소 권한 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />



    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Android2"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".exam10" android:exported="true"/>
        <activity android:name=".practice10" android:exported="true"/>
        <activity android:name=".exam11" android:exported="true"/>
        <activity android:name=".exam12" android:exported="true"/>
        <activity android:name=".exam13" android:exported="true"/>
        <activity android:name=".practice13" android:exported="true"/>
        <activity android:name=".practice14" android:exported="true"/>
        <activity android:name=".exam14" android:exported="true"/>
        <activity android:name=".exam14_1" android:exported="true"/>
        <activity android:name=".exam15" android:exported="true"/>
        <activity android:name=".exam16" android:exported="true"/>
        <activity android:name=".exam17" android:exported="true"/>
        <activity android:name=".exam17_1" android:exported="true"/>
        <activity android:name=".exam18" android:exported="true"/>
        <activity android:name=".exam18_1" android:exported="true"/>
        <activity android:name=".exam19" android:exported="true"/>
        <activity android:name=".exam19_1" android:exported="true"/>
        <activity android:name=".exam19_2" android:exported="true"/>
        <activity android:name=".exam19_3" android:exported="true"/>
        <activity android:name=".exam20" android:exported="true"/>
        <activity android:name=".exam20_second" android:exported="true"/>
        <activity android:name=".RatingBarExam" android:exported="true"/>
        <activity android:name=".practice15" android:exported="true"/>
        <activity android:name=".ResultActivity" android:exported="true"/>
        <activity android:name=".exam21" android:exported="true"/>
        <activity android:name=".exam21_second" android:exported="true"/>
    </application>

</manifest>